# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 3

print(number)

6

##### Assinging float

In [4]:
numberfloat = 4.38
print(number)

4.38

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1=3.4
num2=7
num1 + num2

10.4

##### Subtraction

In [12]:
num1 - num2

-3.6

##### Multiplication

In [13]:
num1 * num2

23.8

##### Division

In [14]:
num1/num2

0.4857142857142857

##### Floor Division

In [16]:
10//3

3

##### Modulo

In [17]:
10%6

4

##### Exponential

In [18]:
4**6

4096

### String Input-Output

##### String Assignment

In [19]:
name = "peter"
print(name)

peter

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print("this is my first name:", name)

print("full name:", name , end=" apol")

this is my first name: peter
full name: peter apol

##### String Concatenation

In [28]:
first_name = 'peter'
last_name = 'smith'
full_name = first_name + " " + last_name
print(full_name)

peter smith

##### Type Conversion

In [30]:
num = "32"

intnum = int(num)

print(intnum + 5)

37

##### input()

In [37]:
 name = input("what is your name?")
    
print(name)

what is your name?Peter
Peter

##### format()

In [38]:
age = input("what is your age")

result_string = 'you are {} {} and you are getting wiser!'.format(age,name)
print(result_string)

what is your age12
you are 12 Peter and you are getting wiser!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
color = input("what is the color")
year = input("what is the year")
make = input("what is the make")
model = input("what is the model")

what is the colorblack
what is the year2014
what is the makeinfiniti
what is the modelq50

### If Statements

In [53]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 

if num1 == 5:
    print('this is true')
else:
    print("this is false")

this is false

##### 'is' keyword

this is correct

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Peter\AppData\Local\Temp\ipykernel_46808\2000179248.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [65]:
char_name = 'frodo baggins'

if 'fri' not in char_name:
    print('ring bearer')

ring bearer

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [69]:
answer=input('what is the input')

if 'p' in answer:
    print('p is in the answer')

what is the inputiuop
p is in the answer

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [3]:
# for counter in condition


name = "peter zanayed"
for letter in name:
    print(letter)

p
e
t
e
r

z
a
n
a
y
e
d

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [12]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [16]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [22]:
for i in range(5):
    for j in range(5):
        print('i =', i, 'j =', j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [33]:
num = 0


while num < 10:
    num += 1
    print (num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [39]:
game_over = False

while True:
    print('infinite loop')
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [ ]:
num = 0

while num <5:
    print

### Built-In Functions

##### range()

In [20]:
for i in range(2,20,1):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [22]:
print(len('happy'))

5

##### help()

In [25]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [26]:
print(isinstance(4.5,float))

True

##### abs()

In [27]:
print(abs(-5))

5

### Try and Except

In [28]:
try:
    number_tst = 0
    input_num = int(input('Guess a number'))

SyntaxError: unexpected EOF while parsing (1298287979.py, line 4)

### Lists

##### Declaring Lists

In [69]:
name = ['max', 'cindy', 'kathy' , 'bob', 'nate']
print(name)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [54]:
print(name[::-2])

['nate', 'kathy', 'max']

##### .append()

In [70]:
name.append('peter')
print(name)

['max', 'cindy', 'kathy', 'bob', 'nate', 'peter']

##### .insert()

In [73]:
name.insert(2,'devin')
print(name)

['max', 'cindy', 'devin', 'devin', 'kathy', 'bob', 'nate', 'peter']

##### .pop()

In [74]:
#removed 2 in list
name.pop(2)
print(name)

['max', 'cindy', 'devin', 'kathy', 'bob', 'nate', 'peter']


##### .remove()

In [75]:
#removes value not index

name.remove('bob')
print(name)

['max', 'cindy', 'devin', 'kathy', 'nate', 'peter']

##### del()

In [76]:
#by index

del(name[1])
print(name)

['max', 'devin', 'kathy', 'nate', 'peter']

##### Concatenating Two Lists

In [82]:
#lists can hold any time of other element including other lsits and go as deep as you want (nested lists)





list_2 = [0,1,2,3]
list_3 = [5,6,7,8]
large_list = list_2 + list_3
print(large_list)

['sally', 'sue', 'tameka']
[0, 1, 2, 3, 5, 6, 7, 8]

##### Lists Within Lists

In [ ]:
names= ['max', 'sam', 'josh',['sally', 'sue', 'tameka']]

print(names[3])

##### Looping Through Lists

In [87]:
for i in range(len(names)):
    print(names[i])
    
for i in names:
    print([i])

max
sam
josh
['sally', 'sue', 'tameka']
['max']
['sam']
['josh']
[['sally', 'sue', 'tameka']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range(100):
    icub = i**3
    if icub >= 1000:
        break
    print(icub)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
numlist = []
primelist = []

for i in range (2,100):
    for j in range (2,i):
        if i % j == 0:
            numlist.append(i)
for x in range (2,100):
    if x in numlist:
        continue
    else:
        primelist.append(x)
print(primelist)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [40]:
age = int(input('what is your age?'))

if age < 18:
    print('Kids')
elif age >= 18 and age < 65:
    print('Adults')
else:
    print('Seniors')

what is your age?28
adults